language: python
python:
  - "2.7"
env:
  global:
    - CC_TEST_REPORTER_ID=token
before_install:
  - sudo apt-get install mongodb  
# command to install dependencies
install:
  - pip install -r requirements.txt

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
#  - (if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter before-build; fi)
# command to run tests
script:
  - ./run_python_tests.sh
after_script:
  -  coverage xml
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
#  - (if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi)
