language: python
python:
  - "2.7"
env:
  global:
    - CC_TEST_REPORTER_ID=token
before_install:
  - sudo apt-get install mongodb realpath tree
# command to install dependencies
install:
  - pip install -r requirements.txt

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - chmod +x ./run_python_tests_for_build.sh
  - ./cc-test-reporter before-build

script:
  - ./run_python_tests_for_build.sh
  # run the tests twice to generate code climate export... :-/
  - ./run_python_tests_for_build.sh --cov-report=xml 

after_success:
  #- coveralls --data_file=coverage.xml
  - coveralls --help
  - ./cc-test-reporter after-build --id f9b952354c7fc3cf9ec996048eefb15ca174ee8374d3f21372df41922443201e --exit-code $TRAVIS_TEST_RESULT  --coverage-input-type coverage.py
  
