<nav class="navbar navbar-default navbar-fixed-top">
  <!-- navbar-fixed-top -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a routerLink="/welcome" routerLinkActive="active"  class="navbar-brand">Proper-CR</a>
    </div>

    <form class="navbar-form navbar-right">
      <button (click)="logout()" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      </button>
    </form>
    <p class="navbar-text navbar-right">
      <a routerLink="/edit-user" routerLinkActive="active" class="navbar-link">{{user.first_name}} {{user.last_name}}</a>
    </p>

  </div>
  <!-- /.container-fluid -->
</nav>